body{
    background: #020024;
background: linear-gradient(90deg, rgba(2, 0, 36, 1) 23%, rgba(9, 9, 121, 1) 44%, rgba(0, 212, 255, 1) 74%);
}

/* admission form */
.ad_form{
    /* width: 50%; */
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.imp{
    color: red;                                              
}

/* form transform */
.ad_form{
    transform: translateX(50%);
}

.admin_form{
    width: 50%;
    color: white;
    border-radius: 10px 10px 10px 10px;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E    )
}